<!DOCTYPE html>
<html lang = "en" xmlns:th = "http://www.thymeleaf.org"
				  xmlns = "http://www.w3.org/1999/xhtml"
				  xmlns:sec = "https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

	<head>
		<meta charset = "UTF-8">
		<title>Profile</title>
	</head>


	<body>
		<h4>Welcome to the page after logging in, <span th:remove = "tag" sec:authentication = "name"> thymeleaf</span></h4>
		
		
		
		<!--Need to display user information and allow for forms such as depositing money, withdrawing money or transferring -->
		
		<div>
			<table>
				<thead>
					<td>Username</td>
					<td>Amount in Account</td>
				</thead>
				
				<tbody>
					<tr th:each = "bankInfo : ${bankInfo}">
						<td th:text = "${bankInfo.username}"></td>
						<td th:text = "${bankInfo.amount}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>


</html>