<!DOCTYPE html>
<html lang = "en" xmlns:th = "http://www.thymeleaf.org"
				  xmlns = "http://www.w3.org/1999/xhtml"
				  xmlns:sec = "https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

	<head>
		<meta charset = "UTF-8">
		<title>Profile</title>
	</head>


	<body>
		<h4>Welcome to the page after logging in, <span th:remove = "tag" sec:authentication = "name"> thymeleaf</span></h4>
		
		
		
		<!--Need to display user information and allow for forms such as depositing money, withdrawing money or transferring -->
		
		<div>
			<table>
				<thead>
					<td>Username</td>
					<td>Amount in Account</td>
				</thead>
				
				<tbody>
					<tr th:each = "bankInfo : ${bankInfo}">
						<td th:text = "${bankInfo.username}"></td>
						<td th:text = "${bankInfo.amount}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		
		
		<br />
		<br />
		
		<div>
			<thead>
				<tr>
					<td>Transaction Date</td>
					<td>Transaction Type</td>
					<td>Sender</td>
					<td>Receiver</td>
					<td>Amount</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each = "transaction: ${userTransactions}">
					<td th:text = "${transaction.transactionDate}"></td>
					<td th:text = "${transaction.transactionType}"></td>
					<td th:text = "${transaction.username}"></td>
					<td th:text = "${transaction.transactionTarget}"></td>
					<td th:text = "${transaction.transactionAmount}"></td>
				</tr>
			</tbody>
		</div>
		
		<br />
		<br />
		<div>
			<a href = "/profile?transactions">Click here to withdraw, deposit or transfer money</a>
		</div>
	</body>


</html>