<!DOCTYPE html>
<html lang = "en" xmlns:th = "http://www.thymeleaf.org"
				  xmlns = "http://www.w3.org/1999/xhtml"
				  xmlns:sec = "https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
	<head>
		<meta charset = "UTF-8">
		<title>Transactions</title>
	</head>
	
	
	<body>
		<div>
			<h4>Which transaction would you like to perform, <span th:remove = "tag" sec:authentication = "name"> thymeleaf</span>?</h4>
		</div>
		
		<br />
		
		<div id = "buttons">
			<button type = "button" id = "depositButton" onclick = "toggleDepositForm()">Deposit</button>
			<button type = "button" id = "withdrawButton" onclick = "toggleWithdrawForm()">Withdraw</button>			
			<button type = "button" id = "transferButton" onclick = "toggleTransferForm()">Transfer</button>
		</div>
		
		
		<div id = "depositForm" style = "display: none">
			<form action = "transaction" method = POST>
				Deposit Amount: <input type = "number" name = "transactionAmount" /><br />
				<input type = "hidden" name = "transactionType" value = "deposit" /><br />
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
				<button type = "submit">Deposit your money</button>
			</form>
		</div>
		
		<div id = "withdrawForm" style = "display: none">
			<form action = "transaction" method = POST>
				Withdrawl Amount: <input type = "number" name = "transactionAmount" /><br />
				<input type = "hidden" name = "transactionType" value = "withdraw" /><br />
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
				<button type = "submit">Withdraw your money</button>
			</form>
		</div>
		
		<div id = "transferForm" style = "display: none">
			<form action = "transaction" method = POST>
				Transfer Amount: <input type = "number" name = "transactionAmount" /><br />
				Target Account: <input type = "text" name = "transferTarget" /><br />
				<input type = "hidden" name = "transactionType" value = "transfer" /><br />
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
				<button type = "submit">Transfer your money</button>
			</form>
		</div>
		<script type = "text/javascript" src = "/static/script.js"></script>
	</body>				  
				  

				  
				  
</html>