/* Login Page */
#login {
	text-align:center;
	color: black;
	font-weight: bold;
	border: 10px solid green;
	padding: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

#loginBody{
	background-color: Lavender;
}

a {
	display: block;
	text-align: center;
	position: absolute;
	top: 60%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

