#transactionsBody {
	background-color: Lavender;
}

#depositButton {
	background-color: green;
	border: 2px solid black;
	color: white;
	padding: 20px 30px;
	text-align: center;
	width: 33%;
}

#withdrawButton {
	background-color: green;
	border: 2px solid black;
	color: white;
	padding: 20px 30px;
	text-align: center;
	width: 33%;
}

#transferButton {
	background-color: green;
	border: 2px solid black;
	color: white;
	padding: 20px 30px;
	text-align: center;
	width: 33%;
}

#depositForm {
	margin-right: auto;
	width: 100%;
	font-weight: bold;
}

#withdrawForm {
	margin-right: auto;
	width: 100%;
	font-weight: bold;	
}

#transferForm {
	margin-right: auto;
	width: 100%;
	font-weight: bold;
}

#breaks {
	width: 100%;
	size = 1000px;
	color = gray;
}